<!-- <app-employee></app-employee> -->
<h1>Welcome to {{title}}!</h1>
<div class="nav nav-default">
  <a routerLink="" routerLinkActive="Active">Home</a> | 
  <a routerLink="/employee" routerLinkActive="Active">Employees</a> | 
  <a routerLink="about" routerLinkActive="Active">About</a>
</div>
<br>
<router-outlet></router-outlet>




<!-- <div *ngFor="let product of products">
  Name: {{product.name}}<br/>
  Brand: {{product.brand}}<br/>
  Description: {{product.description}}<br/>
  Price: {{product.price}}<br/>
</div> -->